#red {
    background-color: red;
    color: white;
}

#blue {
    background-color:blue;
    color: white;
    margin-left: 5px;
}

#green {
    background-color:green;
    color: white;
    margin-left: 5px;
}

#container {
    text-align: center;  
}

#text {
    color: white;
}

#mainGame {
background-color: #333333;
}
